[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "setweaver"]
	path = setweaver
	url = https://github.com/nicolasleenaerts/setweaver
